SPRING_PROFILES_ACTIVE=prod
CONFIG_SERVER_URL=http://config-server:7071

PAGO_MYSQL_ROOT_PASSWORD=root
PAGO_MYSQL_DATABASE=db_pago

PAGO_DB_HOST=mysql-pago
PAGO_DB_PORT=3306
PAGO_DB_NAME=db_pago
PAGO_DB_USERNAME=root
PAGO_DB_PASSWORD=root
